@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap");
:root {
	font-size: 14px;
	font-family: "Hanken Grotesk", sans-serif;

	--color-light-red: hsl(0, 100%, 67%);
	--color-orange-yellow: hsl(39, 100%, 56%);
	--color-green-teal: hsl(166, 100%, 37%);
	--color-cobalt-blue: hsl(234, 85%, 45%);
	--color-light-red-bg: hsl(0, 100%, 98%);
	--color-orange-yellow-bg: hsl(39, 100%, 98%);
	--color-green-teal-bg: hsl(166, 100%, 97%);
	--color-cobalt-blue-bg: hsl(234, 85%, 98%);
	--color-white: hsl(0, 0%, 100%);
	--color-pale-blue: hsl(221, 100%, 96%);
	--color-light-lavender: hsl(241, 100%, 89%);
	--color-dark-gray-blue: hsl(224, 30%, 27%);
	--gradient-light-slate-blue-bg: hsl(252, 100%, 67%);
	--gradient-light-royal-blue-bg: hsl(241, 81%, 54%);
	--gradient-violet-blue-circle: hsla(256, 72%, 46%, 1);
	--gradient-persian-blue-circle: hsla(241, 72%, 46%, 0);
	--font-weight-medium: 500;
	--font-weight-bold: 700;
	--font-weight-extra-bold: 800;
}

* {
	margin: 0;
	padding: 0;
	font-family: "Hanken Grotesk", sans-serif;
}

body {
	display: flex;
	background-color: var(--color-white);
}

h1 {
	font-size: 1.25rem;
}
h2 {
	font-size: 1.2rem;
}
h3 {
	font-size: 1.125rem;
}
h4 {
	font-size: 1.1rem;
}
h5 {
	font-size: 1rem;
}

.result-card {
	display: flex;
	flex-direction: column;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.result-card > section:first-child {
	padding: 1.5rem 3rem;
	padding-bottom: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	border-radius: 2rem;
	border-top-left-radius: unset;
	border-top-right-radius: unset;
	color: var(--color-white);
	background: linear-gradient(
		to bottom,
		var(--gradient-light-slate-blue-bg),
		var(--gradient-light-royal-blue-bg)
	);
}

.result-card > section:first-child > * {
	text-align: center;
}

.result-card > section:first-child > h4 {
	color: lightgray;
}

.result-card > section:first-child > div.score-container {
	width: 7.8rem;
	height: 7.8rem;
	margin: 1.5rem;
	border-radius: 50%;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	/* fixme */
	background: linear-gradient(
		to bottom,
		var(--gradient-violet-blue-circle),
		var(--gradient-persian-blue-circle)
	);
}

.result-card > section:first-child > div.score-container .value {
	font-size: 3rem;
}

.result-card > section:first-child > div.score-container .overall {
	color: hsla(0, 0%, 100%, 0.4);
}

.result-card > section:first-child .feedback > h3 {
	font-size: 1.4rem;
	font-weight: var(--font-weight-medium);
}

.result-card > section:first-child .feedback > p {
	color: rgb(191, 191, 191);
	margin: 0.5rem 0;
}

.result-card > section:last-child {
	padding: 1.25rem 1.5rem;
}

.result-card > section:last-child header {
	font-weight: var(--font-weight-bold);
}

.result-card > section:last-child > .summary-items {
	margin: 1.25rem 0;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.result-card > section:last-child button {
	width: 100%;
	height: 3rem;
	color: white;
	border: unset;
	border-radius: 2rem;
	font-size: 1rem;
	background-color: var(--color-dark-gray-blue);
}
.result-card > section:last-child button:hover {
	background: linear-gradient(
		to bottom,
		var(--gradient-light-slate-blue-bg),
		var(--gradient-light-royal-blue-bg)
	);
}
.result-card > section:last-child button:active {
	background: var(--color-dark-gray-blue);
}

.alert {
	padding: 0.7rem 0.9rem;
	height: 2rem;
	display: flex;
	align-items: center;
	border-radius: 0.55rem;
	font-weight: var(--font-weight-bold);
}
.alert > img {
	width: 1.25rem;
	height: 1.25rem;
}
.alert > span {
	margin-left: 0.5rem;
}
.alert > .breadcrumb {
	margin-left: auto;
	color: var(--color-dark-gray-blue);
	font-weight: var(--font-weight-extra-bold);
}
.alert > .breadcrumb > .overall {
	color: gray;
}
.alert.danger {
	color: var(--color-light-red);
	background-color: var(--color-light-red-bg);
}
.alert.warning {
	color: var(--color-orange-yellow);
	background-color: var(--color-orange-yellow-bg);
}
.alert.success {
	color: var(--color-green-teal);
	background-color: var(--color-green-teal-bg);
}
.alert.info {
	color: var(--color-cobalt-blue);
	background-color: var(--color-cobalt-blue-bg);
}

/* views
- Mobile: 375px
- Desktop: 1440px
*/
@media screen and (min-width: 376px) {
	.result-card {
		box-shadow: 8px 8px 20px 5px var(--color-pale-blue);
	}
}
