@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap");
:root {
	font-size: 18px;
	font-family: "Hanken Grotesk", sans-serif;

	--color-light-red: hsl(0, 100%, 67%);
	--color-orange-yellow: hsl(39, 100%, 56%);
	--color-green-teal: hsl(166, 100%, 37%);
	--color-cobalt-blue: hsl(234, 85%, 45%);
	--color-light-red-bg: hsl(0, 100%, 95%);
	--color-orange-yellow-bg: hsl(39, 100%, 95%);
	--color-green-teal-bg: hsl(166, 100%, 95%);
	--color-cobalt-blue-bg: hsl(234, 85%, 95%);
	--color-white: hsl(0, 0%, 100%);
	--color-pale-blue: hsl(221, 100%, 96%);
	--color-light-lavender: hsl(241, 100%, 89%);
	--color-dark-gray-blue: hsl(224, 30%, 27%);
	--gradient-light-slate-blue-bg: hsl(252, 100%, 67%);
	--gradient-light-royal-blue-bg: hsl(241, 81%, 54%);
	--gradient-violet-blue-circle: hsla(256, 72%, 46%, 1);
	--gradient-persian-blue-circle: hsla(241, 72%, 46%, 0);
	--font-weight-medium: 500;
	--font-weight-bold: 700;
	--font-weight-extra-bold: 800;
}

* {
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	background-color: var(--color-white);
}

.result-card {
	display: flex;
	flex-direction: column;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.alert {
	border-radius: 5px;
	height: 50px;
	display: flex;
}
.alert > .breadcrumb {
	color: var(--color-dark-gray-blue);
}
.alert > .breadcrumb > .overall {
	color: gray;
}
.alert.danger {
	background-color: var(--color-light-red-bg);
}
.alert.warning {
	background-color: var(--color-orange-yellow-bg);
}
.alert.success {
	background-color: var(--color-green-teal-bg);
}
.alert.info {
	background-color: var(--color-cobalt-blue-bg);
}

/* views
- Mobile: 375px
- Desktop: 1440px
*/
@media screen and (min-width: 376px) {
	.result-card {
		box-shadow: 8px 8px 20px 5px var(--color-pale-blue);
	}
}
